.blog body {
        display: flex;
    text-align: center;
    justify-content: center;
}

.card {
    margin-top: 0;
    height: 100%;
    width: 60vw;
}

.comments {
    text-align: left;
}

.blogSubmit {
    position: relative;
    margin-left: 2%;
    transform: translate(0, -50%);
}

textarea {
    margin-top: 5px;
}

.comment {
    margin-top: 10px;
    border-left: 2px solid gray;
}

.comment h1 {
    font-size: 30px;
    font-weight: bold;
}

.comment > ::after {
    border-bottom-left-radius: 20px;
}

.comment p {
    display: inline;
}

.comment .description {
    display: block;
}

.card {
    text-align: center;
    padding-top: 5%;
}

.card img {
    max-width: 400px;
    margin-left: 50%;
    transform: translate(-50%);
}