.blogs body  {
    position: relative;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.flex {
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 2px solid black;
}

.flex {
    max-width: 50%;
    transition: 0.2s;
    margin: 20px;
    min-width: 600px;
    margin-left: 25%;
}
.flex img {
    order: 0;
    max-width: 200px;
    min-width:200px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.flex:hover {
    transform: scale(1.1);
}

.flex h1 {
    text-align: center;
    justify-content: center;
    justify-self: center;
    order: 1;
    width:100%;

}

.userBoard {
    top: 0;
    right: 0;
    position: absolute;
    height:100vh;
    width:20%;
}

.flex img {
      object-fit: cover;
      max-height: 100px;
      min-height: 100px;
}