body {
    text-align: center;
    justify-content: center;
    display: flex;
}

input {
    text-align: center;
}

.title {
    font-size: 100px;
}
.card {
    margin-top: 20%;
    padding: 10%;
    width: 100%;
}