.userBoard {
    top: 0;
    right: 0;
    position: absolute;
    height:100vh;
    width:20%;
    text-align: center;
}

.modifyGlass {
    height: 100vh;
    border-radius: 15px;
    margin: 5%;
}

h1 {
    font-size: 30px;
}

.user {
    display: flex;
    justify-content: center;
    margin-top: 1px;
    padding:5%;
}

.user p {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.user .avatar {
    max-width: 50px;
    max-height: 50px;
}

.myProfile {
    border-bottom: 2px solid #ededed;
    border-radius: 8px;
}

.myProfile:hover .setting {
    opacity: 0.65;
}

.setting {
    display: inline;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    width: 96px;
    opacity: 0;
    transition: 0.2s;
}